<div class="todo-container">
    <app-todo 
    *ngFor="
    let toddo of todoData; 
    let i = index;
    trackBy: trackByFn;
    let f = first; 
    let l = last; 
    let odd = odd;
    let even = even;"
    [todoData]="toddo"
    (onClickIcon)="getTodoInfo($event)"
    >
    </app-todo>

    <button (click)="orderData()">Ordenar</button>
</div>

<!--
    let i = index; INDEX
    let f = first;  PRIMER ELEMENTO
    let l = last; ULTIMO ELEMENTO
    let odd = odd; IMPARES
    let even = even"; PARES
-->